@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/*
0 - 600px:        Phone
600px - 900px:    Tablet Potrait
900px - 1200px:   Tablet Landscape
1200 - 1800 is where our normal styles would apply
1800px + :        Big Desktop


$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop


ORDER: base + typography > general layout + grid > page layout > components

*/
/**************/
/* Basic reset */
/**************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.center-text {
  text-align: center !important; }

.avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin: 0 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }
  .avatar.sm {
    width: 30px;
    height: 30px;
    font-size: 1.25rem; }
  .avatar.md {
    width: 40px;
    height: 40px; }
  .avatar.lg {
    width: 50px;
    height: 50px; }
  .avatar-text {
    background-color: #4361ee;
    color: #f4faff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem; }

.alert {
  border-radius: 0.3rem;
  width: 100%;
  position: relative;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  margin: 1rem 0;
  opacity: 0.9;
  background-color: #8789c0;
  color: #f4faff; }
  .alert.primary {
    background-color: #4361ee; }
  .alert.secondary {
    background-color: #f72585; }
  .alert.error {
    background-color: #f44336; }
  .alert.warning {
    background-color: #ff9800; }
  .alert.success {
    background-color: #4caf50; }
  .alert.info {
    background-color: #7cc6fe; }
  .alert.outline-primary {
    outline: #5e77e7 solid 1px;
    color: #4361ee;
    background-color: #f4faff; }
  .alert.outline-secondary {
    outline: #ec599b solid 1px;
    color: #f72585;
    background-color: #f4faff; }
  .alert.outline-error {
    outline: #e2574d solid 1px;
    color: #f44336;
    background-color: #f4faff; }
  .alert.outline-warning {
    outline: #e6a647 solid 1px;
    color: #ff9800;
    background-color: #f4faff; }
  .alert.outline-success {
    outline: #62b365 solid 1px;
    color: #4caf50;
    background-color: #f4faff; }
  .alert.outline-info {
    outline: #7cc6fe solid 1px;
    color: #7cc6fe;
    background-color: #f4faff; }
