<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-light.min.css"
        integrity="sha512-WDk6RzwygsN9KecRHAfm9HTN87LQjqdygDmkHSJxVkVI7ErCZ8ZWxP6T8RvBujY1n2/E4Ac+bn2ChXnp5rnnHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/component.css">
    <script src="/index.js" defer></script>
    <title>Shinobi-UI | Images</title>
</head>

<body>
    <nav class="navbar nav-main">
        <div class="nav-container">
            <div class="logo">
                <a href="/">
                    <img class="img img-responsive" src="/assets/logo.png" alt="logo">
                </a>
            </div>
            <div class="drawer-container">
                <button class="btn outline-primary" data-drawer><i class="fa-solid fa-bars"></i></button>
                <div class="backdrop"></div>
                <div class="drawer">
                    <header><img class="img img-responsive" src="/assets/logo.png" alt="logo"></header>
                    <ul class="list drawer-list">
                        <div class="list-title text-bold">Starting Guide</div>
                        <li><a href="/Color/color.html">Color</a></li>
                    </ul>
                    <ul class="list drawer-list">
                        <div class="list-title text-bold">Components</div>
                        <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/Alert/alert.html">Alert</a></li>
                        <li><a href="/components/Badge/badge.html">Badge</a></li>
                        <li><a href="/components/Button/button.html">Button</a></li>
                        <li><a href="/components/Card/card.html">Card</a></li>
                        <li><a href="/components/Grid/grid.html">Grid</a></li>
                        <li class="text-primary text-bold"><a href="#">Image</a></li>
                        <li><a href="/components/Input/input.html">Input</a></li>
                        <li><a href="/components/List/list.html">List</a></li>
                        <li><a href="/components/Modal/modal.html">Modal</a></li>
                        <li><a href="/components/Navbar/navbar.html">Navbar</a></li>
                        <li><a href="/components/Rating/rating.html">Rating</a></li>
                        <li><a href="/components/Typography/typography.html">Typography</a></li>
                        <li><a href="/components/Toast/toast.html">Toast</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-links">
                <a href="/components/Avatar/avatar.html" class="text-primary text-bold"><i
                        class="fas fa-file"></i><span>Docs</span></a>
                <a href="https://github.com/vinc3nati/shinobi-UI" target="_blank" class="text-primary text-bold">
                    <button class="btn outline-primary">
                        <i class="fab fa-github"></i> GitHub
                    </button>
                </a>
            </div>
        </div>
    </nav>
    <div class="doc-container">
        <aside class="sidebar">
            <div class="list">
                <div class="list-title text-bold">Starting Guide</div>
                <li><a href="/Color/color.html">Color</a></li>
            </div>
            <div class="list">
                <div class="list-title text-bold">Components</div>
                <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
                <li><a href="/components/Alert/alert.html">Alert</a></li>
                <li><a href="/components/Badge/badge.html">Badge</a></li>
                <li><a href="/components/Button/button.html">Button</a></li>
                <li><a href="/components/Card/card.html">Card</a></li>
                <li><a href="/components/Grid/grid.html">Grid</a></li>
                <li class="text-primary text-bold"><a href="#">Image</a></li>
                <li><a href="/components/Input/input.html">Input</a></li>
                <li><a href="/components/List/list.html">List</a></li>
                <li><a href="/components/Modal/modal.html">Modal</a></li>
                <li><a href="/components/Navbar/navbar.html">Navbar</a></li>
                <li><a href="/components/Rating/rating.html">Rating</a></li>
                <li><a href="/components/Typography/typography.html">Typography</a></li>
                <li><a href="/components/Toast/toast.html">Toast</a></li>
            </div>
        </aside>
        <main class="doc-content">
            <header class="content-title">
                Images
            </header>
            <div class="content-subtitle">
                Images are an integral part of an application as it conveys more content than text, and it's also
                improves user interface as well as user experience.
            </div>
            <div class="divider"></div>

            <!-- Normal Images -->
            <div class="content-head">
                Normal Images
            </div>
            <div class="content-subtitle">
                These are by default square images, with a default size of 150px vs 150px. Use class <code
                    class="text-bold">&nbsp;img&nbsp;</code> in <code>img</code> tag.
            </div>
            <div class="output">
                <img class="img" src="https://source.unsplash.com/3uuLWb6aQXc/" alt="simple image">
                <img class="img" src="https://source.unsplash.com/QYBVbwJYxNA/" alt="simple image">
            </div>

            <div class="code">
                <pre>
                    <code class="html">
            /* Using the 'img' class */ 

            &lt;img class="img" src="url" alt=""&gt;
            &lt;img class="img" src="url" alt=""&gt;
                    </code></pre>
            </div>
            <div class="divider"></div>

            <!-- Circle Images -->
            <div class="content-head">
                Circle Images
            </div>
            <div class="content-subtitle">
                Circular Images are also have same dimensions i.e. 150px x 150px. Use class <code
                    class="text-bold">&nbsp;img-round&nbsp;</code> along with <code>img</code> class.
            </div>
            <div class="output">
                <img class="img img-round" src="https://source.unsplash.com/3uuLWb6aQXc/" alt="simple image">
                <img class="img img-round" src="https://source.unsplash.com/QYBVbwJYxNA/" alt="simple image">

            </div>

            <div class="code">
                <pre>
                            <code class="html">
            /* Using the 'img-round' class along with 'img' */ 
        
            &lt;img class="img img-round" src="url" alt=""&gt;
            &lt;img class="img img-round" src="url" alt=""&gt;
                            </code></pre>
            </div>
            <div class="divider"></div>

            <!-- Responsive Images -->
            <div class="content-head">
                Responsive Images
            </div>
            <div class="content-subtitle">
                Responsive Images are images which takes the dimensions of the container which is it in. Use class <code
                    class="text-bold">&nbsp;img-responsive&nbsp;</code> along with <code>img</code> class.
            </div>
            <div class="output">
                <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/" alt="simple image">
            </div>

            <div class="code">
                <pre>
                    <code class="html">
            /* Using the 'img-round' class along with 'img' */ 
        
            &lt;img class="img img-responsive" src="url" alt=""&gt;
                    </code></pre>
            </div>
            <div class="divider"></div>


            <footer class="doc-footer">
                <div class="prev-link">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path>
                    </svg>
                    <a href="../Grid/grid.html">Grid</a>
                </div>
                <div class="next-link">
                    <a href="../Input/input.html">Input</a>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
                    </svg>
                </div>
            </footer>
        </main>
    </div>
    <section id="footer">
        <header>Made with <i class="fas fa-heart text-secondary"></i> by <span class="text-secondary">Vinit Kanse</span>
        </header>
        <div class="social-links">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github"></i>
        </div>
        <span class="copyright text-light">&copy; 2022 - 2023 <span class="text-primary text-bold">Shinobi
                UI</span></span>
    </section>
    <button title="Top" class="btn floating-btn primary" data-top>
        <i class="fas fa-chevron-up"></i>
    </button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>