<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-light.min.css"
        integrity="sha512-WDk6RzwygsN9KecRHAfm9HTN87LQjqdygDmkHSJxVkVI7ErCZ8ZWxP6T8RvBujY1n2/E4Ac+bn2ChXnp5rnnHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/component.css">
    <script src="/index.js" defer></script>
    <title>Shinobi-UI | Grid</title>
</head>

<body>
    <nav class="navbar nav-main">
        <div class="nav-container">
            <div class="logo">
                <a href="/">
                    <img class="img img-responsive" src="/assets/logo.png" alt="logo">
                </a>
            </div>
            <div class="nav-links">
                <a href="/components/Avatar/avatar.html" class="text-primary text-bold"><i
                        class="fas fa-file"></i><span>Docs</span></a>
                <a href="https://github.com/vinc3nati/shinobi-UI" target="_blank" class="text-primary text-bold">
                    <button class="btn outline-primary">
                        <i class="fab fa-github"></i> GitHub
                    </button>
                </a>
            </div>
        </div>
    </nav>
    <div class="doc-container">
        <aside class="sidebar">
            <div class="list">
                <div class="list-title text-bold">Components</div>
                <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
                <li><a href="/components/Alert/alert.html">Alert</a></li>
                <li><a href="/components/Badge/badge.html">Badge</a></li>
                <li><a href="/components/Button/button.html">Button</a></li>
                <li><a href="/components/Card/card.html">Card</a></li>
                <li class="text-primary text-bold"><a href="#">Grid</a></li>
                <li><a href="/components/Image/image.html">Image</a></li>
                <li><a href="/components/Input/input.html">Input</a></li>
                <li><a href="/components/List/list.html">List</a></li>
                <li><a href="/components/Modal/modal.html">Modal</a></li>
                <li><a href="/components/Navbar/navbar.html">Navbar</a></li>
                <li><a href="/components/Rating/rating.html">Rating</a></li>
                <li><a href="/components/Typography/typography.html">Typography</a></li>
                <li><a href="/components/Toast/toast.html">Toast</a></li>
            </div>
        </aside>
        <main class="doc-content">
            <header class="content-title">
                Grid
            </header>
            <div class="content-subtitle">
                Grids help us laying out a structure of an application and helps in responsive design.
            </div>
            <div class="divider"></div>

            <!-- 2 Column Layout -->
            <div class="content-head">
                2 Column Grid
            </div>
            <div class="content-subtitle">
                This creates a grid with2 columns with equal width. To use it, include <code
                    class="text-bold">&nbsp;layout-2-column&nbsp;</code> in your <code>grid</code> container.
            </div>
            <div class="output">
                <div class="grid layout-2-column">
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                </div>
            </div>

            <div class="code">
                <pre>
                    <code class="html">
    /* Using the 'layout-2-column' class on 'grid' container */ 

            &lt;div class="grid layout-2-column"&gt;
                &lt;div&gt;
                    &lt;img class="img img-responsive" src="url" alt=""&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;img class="img img-responsive" src="url" alt=""&gt;
                &lt;/div&gt;
            &lt;/div&gt;
                    </code></pre>
            </div>
            <div class="divider"></div>

            <!-- 3 Column Layout -->
            <div class="content-head">
                3 Column Grid
            </div>
            <div class="content-subtitle">
                To use it, include <code class="text-bold">&nbsp;layout-3-column&nbsp;</code> in your <code>grid</code>
                container.
            </div>
            <div class="output">
                <div class="grid layout-3-column">
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                </div>
            </div>

            <div class="code">
                <pre>
                            <code class="html">
            /* Using the 'layout-3-column' class on 'grid' container */ 
        
                    &lt;div class="grid layout-3-column"&gt;
                        &lt;div&gt;
                            &lt;img class="img img-responsive" src="url" alt=""&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;img class="img img-responsive" src="url" alt=""&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;img class="img img-responsive" src="url" alt=""&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                            </code></pre>
            </div>
            <div class="divider"></div>

            <!-- 30-70 Layout -->
            <div class="content-head">
                30-70 Layout Grid
            </div>
            <div class="content-subtitle">
                In order to use it, include <code class="text-bold">&nbsp;layout-30-70&nbsp;</code> in your
                <code>grid</code>
                container.
            </div>
            <div class="output">
                <div class="grid layout-30-70">
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                </div>
            </div>

            <div class="code">
                <pre>
                            <code class="html">
            /* Using the 'layout-30-70' class on 'grid' container */ 
        
                    &lt;div class="grid layout-30-70"&gt;
                        &lt;div&gt;
                            &lt;img class="img img-responsive" src="url" alt=""&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;img class="img img-responsive" src="url" alt=""&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                            </code></pre>
            </div>
            <div class="divider"></div>

            <!-- 70-30 Layout -->
            <div class="content-head">
                70-30 Layout Grid
            </div>
            <div class="content-subtitle">
                In order to use it, include <code class="text-bold">&nbsp;layout-70-30&nbsp;</code> in your
                <code>grid</code>
                container.
            </div>
            <div class="output">
                <div class="grid layout-70-30">
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                    <div>
                        <img class="img img-responsive" src="https://source.unsplash.com/3uuLWb6aQXc/"
                            alt="simple image">
                    </div>
                </div>
            </div>

            <div class="code">
                <pre>
                            <code class="html">
            /* Using the 'layout-70-30' class on 'grid' container */ 
        
                    &lt;div class="grid layout-70-30"&gt;
                        &lt;div&gt;
                            &lt;img class="img img-responsive" src="url" alt=""&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;img class="img img-responsive" src="url" alt=""&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                            </code></pre>
            </div>
            <div class="divider"></div>

            <footer class="doc-footer">
                <div class="prev-link">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path>
                    </svg>
                    <a href="../Card/card.html">Card</a>
                </div>
                <div class="next-link">
                    <a href="../Image/image.html">Image</a>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
                    </svg>
                </div>
            </footer>
        </main>
    </div>
    <section id="footer">
        <header>Made with <i class="fas fa-heart text-secondary"></i> by <span class="text-secondary">Vinit Kanse</span>
        </header>
        <div class="social-links">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github"></i>
        </div>
        <span class="copyright text-light">&copy; 2022 - 2023 <span class="text-primary text-bold">Shinobi
                UI</span></span>
    </section>
    <button title="Top" class="btn floating-btn primary" data-top>
        <i class="fas fa-chevron-up"></i>
    </button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>