<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/component.css">
    <title>Card</title>
</head>

<body>
    <div class="card">
        <div class="card-title">
            Kakashi Hatake
            <ion-icon class="card-close" name="close"></ion-icon>
        </div>
        <div class="card-content">
            The master Copy Cat Ninja, with Chidori! Feared among the other villages as Kakashi of the Sharinghan.
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="https://source.unsplash.com/3uuLWb6aQXc/" alt="simple image">
        <div class="card-title">
            Kakashi Hatake
            <ion-icon class="card-close" name="close"></ion-icon>
        </div>
        <div class="card-content">
            The master Copy Cat Ninja, with Chidori! Feared among the other villages as Kakashi of the Sharinghan.
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="badge">
                <img class="avatar" src="https://source.unsplash.com/3uuLWb6aQXc/" alt="user">
                <div class="online"></div>
            </div>
            Kakashi Hatake
        </div>
        <img class="card-image" src="https://source.unsplash.com/DomqHKN2Xik/" alt="avatar_1">
        <div class="card-content">
            The master Copy Cat Ninja, with Chidori! Feared among the other villages as Kakashi of the Sharinghan.
        </div>
    </div>
    <div class="card horizontal">
        <div class="card-image-container">
            <img class="card-image" src="https://source.unsplash.com/3uuLWb6aQXc/" alt="simple image">
            <div class="card-badge">new</div>
        </div>
        <div class="main-content">
            <div class="card-title">
                Kimono
                <ion-icon class="wishlist" name="heart-sharp"></ion-icon>
            </div>
            <div class="card-subtitle">
                Favorite choice of anime fans
            </div>
            <div class="card-content">
                The master Copy Cat Ninja, with Chidori! Feared among the other villages as Kakashi of the Sharinghan.
            </div>
            <div class="card-pricing">
                <span class="current-price">Rs. 675</span>
                <span class="prev-price">Rs. 1349</span>
                <span class="discount">(50% off)</span>
            </div>
            <div class="btn-group">
                <button class="btn">Add to cart</button>
                <button class="btn primary">Buy now</button>
            </div>
        </div>
    </div>
    <div class="card vertical">
        <div class="card-image-container">
            <img class="card-image" src="https://source.unsplash.com/3uuLWb6aQXc/" alt="simple image">
            <div class="card-badge">new</div>
        </div>
        <div class="main-content">
            <div class="card-title">
                Kimono
                <ion-icon class="wishlist" name="heart-sharp"></ion-icon>
            </div>
            <div class="card-subtitle">
                Favorite choice of anime fans
            </div>
            <div class="card-content">
                The master Copy Cat Ninja, with Chidori! Feared among the other villages as Kakashi of the Sharinghan.
            </div>
            <div class="card-pricing">
                <span class="current-price">Rs. 675</span>
                <span class="prev-price">Rs. 1349</span>
                <span class="discount">(50% off)</span>
            </div>
            <div class="btn-group">
                <button class="btn">Add to cart</button>
                <button class="btn primary">Buy now</button>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>