.input-grp {
  /* margin: 0 2rem 1rem; */
  color: var(--color-grey-dark);
  font-size: 1.6rem;
}

.input-grp > label {
  display: block;
  color: var(--color-grey-dark);
}

.input-grp.required > label::after {
  content: " *";
  color: inherit;
}

.input-grp.err > label,
.input-grp .err-msg {
  color: var(--color-error);
}

.input-grp.err > input {
  border: 1px solid var(--color-error);
}

.input-grp.err > input:focus {
  box-shadow: none;
}

.input-grp > input {
  font-size: inherit;
  outline: none;
  padding: 0.8rem 1.3rem;
  min-width: 30rem;
  color: var(--color-grey-dark-3);
  border: 1px solid var(--color-grey-dark-2);
  border-radius: var(--border-radius-3);
}

.input-grp > input:focus,
.input-area:focus {
  box-shadow: 0 0 0 1px var(--color-primary);
}

.fancy > input {
  background-color: var(--color-tertiary);
  border: none;
  border-bottom: 2px solid transparent;
  display: block;
  transition: all 0.3s;
}

.fancy > label {
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 0.3s;
}

.fancy.err > input {
  border: none;
  border-bottom: 2px solid var(--color-error);
}

.fancy > input::-webkit-input-placeholder {
  color: var(--color-grey-dark-2);
}

.fancy > input:focus {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--color-primary);
}

.fancy.err > input:focus {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--color-error);
}

.fancy > input:focus:invalid {
  border-bottom: 2px solid var(--color-error);
}

.fancy > input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.input-grp > input:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--color-tertiary-dark);
}
.input-grp > input:read-only {
  border: none;
  /* pointer-events: none; */
  cursor: not-allowed;
}

/* Textarea */

.input-area {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 1.6rem;
  border-radius: var(--border-radius-3);
}

/* Radio Input */

.radio-grp {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.radio-grp input:disabled ~ label .radio-btn,
.checkbox-grp input:disabled ~ label::before {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}

.radio-grp input:disabled ~ label,
.checkbox-grp input:disabled ~ label {
  color: var(--color-grey-dark);
  pointer-events: none;
}

.radio-grp input[type="radio"] {
  display: none;
}

.radio-grp > label {
  position: relative;
  cursor: pointer;
  padding-left: 3rem;
  margin: 1rem 0;
}
.radio-btn {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 2rem;
  width: 2rem;
  border: 4px solid var(--color-primary);
  border-radius: var(--border-rounded);
}

.radio-btn::after {
  content: "";
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.2s;
  transform: translate(-50%, -50%);
  border-radius: var(--border-rounded);
}

.radio-grp input:checked ~ label .radio-btn::after {
  opacity: 1;
}

/* Checkbox */

.checkbox-grp {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.checkbox-grp input {
  display: none;
}

.checkbox-grp label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-grp label::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 0.8rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.5rem;
}

.checkbox-grp input:checked + label::before {
  background-color: var(--color-primary);
}

.checkbox-grp input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.35rem;
  left: 0.7rem;
  width: 0.5rem;
  height: 1.2rem;
  border: solid var(--color-tertiary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
