<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/component.css">
    <title>Button</title>
</head>

<body>
    <!-- Default buttons -->
    <button class="btn">default</button>
    <button class="btn primary">Primary</button>
    <button class="btn secondary">Secondary</button>
    <button class="btn error">Error</button>
    <button class="btn success">Success</button>

    <!-- Outlined Button -->
    <button class="btn outline">default</button>
    <button class="btn outline-primary">Primary</button>
    <button class="btn outline-secondary">Secondary</button>
    <button class="btn outline-error">Error</button>
    <button class="btn outline-success">Success</button>

    <!-- Icon Button -->
    <button class="btn icon-btn">
        <ion-icon name="bookmark-sharp"></ion-icon>
        Save
    </button>
    <button class="btn icon-btn">
        <ion-icon name="link-sharp"></ion-icon>
        link
    </button>
    <buttom class="floating-btn">
        <ion-icon name="add-outline"></ion-icon>
    </buttom>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>