.btn {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--color-default);
  color: var(--color-tertiary);
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
  transition: all 0.3s;
  border-radius: var(--border-radius-3);
}

.btn.primary {
  background-color: var(--color-primary);
}

.btn.primary:hover,
.btn.icon-btn:hover {
  background-color: var(--color-primary-dark);
}

.btn.secondary {
  background-color: var(--color-secondary);
}

.btn.secondary:hover {
  background-color: var(--color-secondary-dark);
}

.btn.error {
  background-color: var(--color-error);
}

.btn.error:hover {
  background-color: var(--color-error-dark);
}

.btn.success {
  background-color: var(--color-success);
}

.btn.success:hover {
  background-color: var(--color-success-dark);
}

/* Outline */
.btn.outline {
  background-color: var(--color-tertiary);
  color: var(--color-default);
  outline: var(--color-default) solid 1px;
}

.btn.outline:hover {
  background-color: var(--color-default);
  color: var(--color-tertiary);
}

.btn.outline-primary {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  outline: var(--color-primary) solid 1px;
}

.btn.outline-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

.btn.outline-secondary {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  outline: var(--color-secondary) solid 1px;
}

.btn.outline-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}

.btn.outline-error {
  background-color: var(--color-tertiary);
  color: var(--color-error);
  outline: var(--color-error) solid 1px;
}

.btn.outline-error:hover {
  background-color: var(--color-error);
  color: var(--color-tertiary);
}

.btn.outline-success {
  background-color: var(--color-tertiary);
  color: var(--color-success);
  outline: var(--color-success) solid 1px;
}

.btn.outline-success:hover {
  background-color: var(--color-success);
  color: var(--color-tertiary);
}

/* Icon button */
.btn.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}

.btn.icon-btn > *:first-child {
  margin-right: 0.4rem;
}
