.avatar {
  object-fit: cover;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 1rem;
  border-radius: var(--border-rounded);
}
.avatar.sm {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
}
.avatar.md {
  width: 4rem;
  height: 4rem;
}
.avatar.lg {
  width: 5rem;
  height: 5rem;
}
.avatar-text {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.avatar.square {
  border-radius: 3px;
}
