<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-light.min.css"
        integrity="sha512-WDk6RzwygsN9KecRHAfm9HTN87LQjqdygDmkHSJxVkVI7ErCZ8ZWxP6T8RvBujY1n2/E4Ac+bn2ChXnp5rnnHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/component.css">
    <script src="/index.js" defer></script>
    <title>Shinobi-UI | Navbar</title>
</head>

<body>
    <nav class="navbar nav-main">
        <div class="nav-container">
            <div class="logo">
                <a href="/">
                    <img class="img img-responsive" src="/assets/logo.png" alt="logo">
                </a>
            </div>
            <div class="drawer-container">
                <button class="btn outline-primary" data-drawer><i class="fa-solid fa-bars"></i></button>
                <div class="backdrop"></div>
                <div class="drawer">
                    <header><img class="img img-responsive" src="/assets/logo.png" alt="logo"></header>
                    <ul class="list drawer-list">
                        <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/Alert/alert.html">Alert</a></li>
                        <li><a href="/components/Badge/badge.html">Badge</a></li>
                        <li><a href="/components/Button/button.html">Button</a></li>
                        <li><a href="/components/Card/card.html">Card</a></li>
                        <li><a href="/components/Grid/">Grid</a></li>
                        <li><a href="/components/Image/image.html">Image</a></li>
                        <li><a href="/components/Input/input.html">Input</a></li>
                        <li><a href="/components/List/list.html">List</a></li>
                        <li><a href="/components/Modal/modal.html">Modal</a></li>
                        <li class="text-primary text-bold"><a href="#">Navbar</a></li>
                        <li><a href="/components/Rating/rating.html">Rating</a></li>
                        <li><a href="/components/Typography/typography.html">Typography</a></li>
                        <li><a href="/components/Toast/toast.html">Toast</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-links">
                <a href="/components/Avatar/avatar.html" class="text-primary text-bold"><i
                        class="fas fa-file"></i><span>Docs</span></a>
                <a href="https://github.com/vinc3nati/shinobi-UI" target="_blank" class="text-primary text-bold">
                    <button class="btn outline-primary">
                        <i class="fab fa-github"></i> GitHub
                    </button>
                </a>
            </div>
        </div>
    </nav>
    <div class="doc-container">
        <aside class="sidebar">
            <div class="list">
                <div class="list-title text-bold">Components</div>
                <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
                <li><a href="/components/Alert/alert.html">Alert</a></li>
                <li><a href="/components/Badge/badge.html">Badge</a></li>
                <li><a href="/components/Button/button.html">Button</a></li>
                <li><a href="/components/Card/card.html">Card</a></li>
                <li><a href="/components/Grid/">Grid</a></li>
                <li><a href="/components/Image/image.html">Image</a></li>
                <li><a href="/components/Input/input.html">Input</a></li>
                <li><a href="/components/List/list.html">List</a></li>
                <li><a href="/components/Modal/modal.html">Modal</a></li>
                <li class="text-primary text-bold"><a href="#">Navbar</a></li>
                <li><a href="/components/Rating/rating.html">Rating</a></li>
                <li><a href="/components/Typography/typography.html">Typography</a></li>
                <li><a href="/components/Toast/toast.html">Toast</a></li>
            </div>
        </aside>
        <main class="doc-content">
            <header class="content-title">
                Navbar
            </header>
            <div class="content-subtitle">
                Navigation bar is used to navigate through the web apps or websites. It's a great way to display call to
                action (CTA) links.
            </div>
            <div class="divider"></div>

            <!-- Normal Nav -->
            <div class="content-head">
                Simple Nav
            </div>
            <div class="content-subtitle">
                Simple Nav contains <span class="note">logo</span>and <span class="note">nav-link</span>
            </div>
            <div class="output">
                <nav class="navbar nav-main">
                    <div class="nav-container">
                        <div class="logo">
                            <img class="img img-responsive" src="/assets/logo.png" alt="logo">
                        </div>
                        <div class="nav-links">
                            <a href="#" class="text-primary text-bold">Docs</a>
                            <a href="#" class="text-primary text-bold">Github</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="code">
                <pre>
                    <code class="html">
    /* Using the 'nav-main' class on container along with 'navbar' */ 

    &lt;nav class="navbar nav-main"&gt;
        &lt;div class="nav-container"&gt;
            &lt;div class="logo"&gt;
                &lt;img class="img img-responsive" src="url" alt="logo"&gt;
            &lt;/div&gt;
            &lt;div class="nav-links"&gt;
                &lt;a href="#" class="text-primary text-bold"&gt;Docs&lt;/a&gt;
                &lt;a href="#" class="text-primary text-bold"&gt;Github&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/nav&gt;
                    </code></pre>
            </div>
            <div class="divider"></div>

            <!-- Social Media Nav -->
            <div class="content-head">
                Social Nav
            </div>
            <div class="content-subtitle">
                Social Navbar contains <span class="note">main</span>, <span class="note">search bar</span>, <span
                    class="note">social links</span>. Use <code class="text-bold">&nbsp;navbar&nbsp;</code> on the
                container and <code class="text-bold">&nbsp;nav-links&nbsp;</code> on the social link.
            </div>
            <div class="output">
                <nav class="navbar">
                    <div class="main">
                        <buttton class="btn icon-btn">
                            <i class="fa-solid fa-bars"></i>
                            <span>Menu</span>
                        </buttton>
                        <div class="search-bar">
                            <button type="submit" class="btn tertiary"><i class="fa-solid fa-search"></i></button>
                            <div class="input-grp">
                                <input type="text" placeholder="search">
                            </div>
                        </div>
                        <div class="nav-links">
                            <div class="badge">
                                <i class="fa-solid fa-envelope badge-icon"></i>
                            </div>
                            <div class="badge">
                                <i class="fa-solid fa-calendar badge-icon"></i>
                            </div>
                            <div class="badge">
                                <i class="fa-solid fa-bag-shopping badge-icon"></i>
                                <span class="number secondary">9+</span>
                            </div>
                        </div>
                    </div>
                    <div class="user">
                        <span class="text-tertiary">username</span>
                        <img class="avatar sm" src="https://source.unsplash.com/DomqHKN2Xik/" alt="avatar_1">
                    </div>
                </nav>
            </div>

            <div class="code">
                <pre>
                    <code class="html">
    /* Using the 'navbar' class on top most container along with 'main' on children's first ancestor */ 

    &lt;nav class="navbar"&gt;
        &lt;div class="main"&gt;
            &lt;buttton class="btn tertiary"&gt;
                &lt;i class="fa-solid fa-bars-filter"&gt;&lt;/i&gt;
                &lt;span&gt;Menu&lt;/span&gt;
            &lt;/buttton&gt;
            &lt;div class="search-bar"&gt;
                &lt;buttton class="btn tertiary"&gt;
                    &lt;i class="fa-solid fa-search"&gt;&lt;/i&gt;
                &lt;/buttton&gt;        
                &lt;div class="input-grp"&gt;
                    &lt;input type="text" placeholder="search"&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="nav-links"&gt;
                &lt;div class="badge"&gt;
                    &lt;i class="fa-solid fa-envelope"&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class="badge"&gt;
                    &lt;i class="fa-solid fa-calendar"&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class="badge"&gt;
                    &lt;i class="fa-solid fa-bag-shopping" class="badge-icon"&gt;&lt;/i&gt;
                    &lt;span class="number secondary"&gt;9+&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="user"&gt;
            &lt;span class="text-tertiary"&gt;username&lt;/span&gt;
            &lt;img class="avatar sm" src="url" alt="avatar_1"&gt;
        &lt;/div&gt;
    &lt;/nav&gt;
                    </code></pre>
            </div>
            <div class="divider"></div>



            <footer class="doc-footer">
                <div class="prev-link">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path>
                    </svg>
                    <a href="../Modal/modal.html">Modal</a>
                </div>
                <div class="next-link">
                    <a href="../Rating/rating.html">Rating</a>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
                    </svg>
                </div>
            </footer>
        </main>
    </div>
    <section id="footer">
        <header>Made with <i class="fas fa-heart text-secondary"></i> by <span class="text-secondary">Vinit Kanse</span>
        </header>
        <div class="social-links">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github"></i>
        </div>
        <span class="copyright text-light">&copy; 2022 - 2023 <span class="text-primary text-bold">Shinobi
                UI</span></span>
    </section>
    <button title="Top" class="btn floating-btn primary" data-top>
        <i class="fas fa-chevron-up"></i>
    </button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>


</body>

</html>