.navbar {
  width: 100%;
  padding: 1rem 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

.navbar.nav-main {
  background-color: var(--color-tertiary);
}

.nav-container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo,
.navbar .home-logo {
  width: 15rem;
  cursor: pointer;
}

.output .navbar .logo {
  display: block !important;
}

.main > *:first-child {
  margin-right: auto;
}

.main .nav-links,
.nav-main .nav-links {
  /* margin-left: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  color: inherit;
}

.nav-links .badge i,
.nav-links a {
  cursor: pointer;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  transition: opacity 0.3s;
}

.nav-links a > *:not(button) {
  transition: opacity 0.3s;
}

.nav-main .nav-links,
#footer .social-links {
  font-size: 1.8rem;
}

.nav-links .badge:hover i,
.nav-links a:hover > *:not(button) {
  opacity: 0.7;
}

.user {
  cursor: pointer;
  width: auto;
  margin-left: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-left: 1px solid var(--color-tertiary);
}

.scrolling-active {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  transform: all 0.3s ease;
}

.main .search-bar {
  width: 45%;
  font-size: inherit;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-self: right;
  background-color: var(--color-tertiary);
  border-radius: var(--border-radius-3);
}

.main .search-bar > * {
  background: transparent;
}

.main .search-bar .input-grp > input {
  border: none;
  box-shadow: none;
  min-width: 100%;
  border-radius: 0;
}

@media only screen and (max-width: 768px) {
  .main > .search-bar {
    display: none;
  }
  .nav-links .badge i {
    font-size: 16px;
  }

  .nav-main {
    padding: 1.8rem 2.2rem;
  }
}
