<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/component.css">
    <script src="/index.js"></script>
    <title>Navbar</title>
</head>

<body>
    <nav class="navbar">
        <div class="main">
            <buttton class="btn tertiary">
                <ion-icon name="filter-outline"></ion-icon>
                <span>Menu</span>
            </buttton>
            <div class="input-grp">
                <!-- <label for="username">Email</label> -->
                <input type="text" placeholder="search">
            </div>
            <div class="nav-links">
                <div class="badge">
                    <ion-icon class="badge-icon" name="mail-outline"></ion-icon>
                </div>
                <div class="badge">
                    <ion-icon class="badge-icon" name="calendar-outline"></ion-icon>
                </div>
                <!-- <ion-icon name="mail-outline"></ion-icon> -->
                <!-- <ion-icon name="calendar-outline"></ion-icon> -->
                <div class="badge">
                    <ion-icon class="badge-icon" name="bag"></ion-icon>
                    <span class="number secondary">9+</span>
                </div>
            </div>
        </div>
        <div class="user">
            <span class="text-tertiary">username</span>
            <img class="avatar sm" src="https://source.unsplash.com/DomqHKN2Xik/" alt="avatar_1">
        </div>
    </nav>
    <nav class="navbar nav-main">
        <div class="nav-container">
            <div class="logo">
                <img class="img img-responsive" src="/assets/logo.png" alt="logo">
            </div>
            <div class="nav-links">
                <a href="#" class="text-primary text-bold">Docs</a>
                <a href="#" class="text-primary text-bold">Github</a>
            </div>
        </div>
    </nav>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>