.alert {
  border-radius: 0.3rem;
  width: 100%;
  position: relative;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  margin: 1rem 0;
  opacity: 0.9;
  background-color: $color-default;
  color: $color-tertiary;

  // Solid
  &.primary {
    background-color: $color-primary;
  }
  &.secondary {
    background-color: $color-secondary;
  }
  &.error {
    background-color: $color-error;
  }
  &.warning {
    background-color: $color-warning;
  }
  &.success {
    background-color: $color-success;
  }
  &.info {
    background-color: $color-info;
  }

  // Outlined
  &.outline-primary {
    outline: $color-primary-light solid 1px;
    color: $color-primary;
    background-color: $color-tertiary;
  }
  &.outline-secondary {
    outline: $color-secondary-light solid 1px;
    color: $color-secondary;
    background-color: $color-tertiary;
  }
  &.outline-error {
    outline: $color-error-light solid 1px;
    color: $color-error;
    background-color: $color-tertiary;
  }
  &.outline-warning {
    outline: $color-warning-light solid 1px;
    color: $color-warning;
    background-color: $color-tertiary;
  }
  &.outline-success {
    outline: $color-success-light solid 1px;
    color: $color-success;
    background-color: $color-tertiary;
  }
  &.outline-info {
    outline: $color-info solid 1px;
    color: $color-info;
    background-color: $color-tertiary;
  }
}
