<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/component.css">
    <title>List</title>
</head>

<body>
    <div class="list">
        <div class="list-title text-bold">Company</div>
        <li>Products</li>
        <li class="nested-list">
            <div>About</div>
            <ul>
                <li>News</li>
                <li>Social Media</li>
            </ul>
        </li>
        <li>Testimonials</li>
        <li>Contact</li>
    </div>
    <div class="list">
        <div class="list-title text-bold">Company</div>
        <li>Products</li>
        <li>About</li>
        <li>Testimonials</li>
        <li>Contact</li>
    </div>
    <div class="list">
        <div class="list-title text-bold">CheckList</div>
        <li>
            <div class="checkbox-grp">
                <input type="checkbox" checked id="checked">
                <label for="checked">Checked</label>
            </div>
        </li>
        <li>
            <div class="checkbox-grp">
                <input type="checkbox" id="checked_1">
                <label for="checked_1">Checked</label>
            </div>
        </li>
        <li>
            <div class="checkbox-grp">
                <input type="checkbox" id="checked_2">
                <label for="checked_2">Checked</label>
            </div>
        </li>
        <li>
            <div class="checkbox-grp">
                <input type="checkbox" id="checked_3">
                <label for="checked_3">Checked</label>
            </div>
        </li>
    </div>
</body>

</html>