<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-light.min.css"
        integrity="sha512-WDk6RzwygsN9KecRHAfm9HTN87LQjqdygDmkHSJxVkVI7ErCZ8ZWxP6T8RvBujY1n2/E4Ac+bn2ChXnp5rnnHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/component.css">
    <script src="/index.js" defer></script>
    <title>Shinobi-UI | Rating</title>
</head>

<body>
    <nav class="navbar nav-main">
        <div class="nav-container">
            <div class="logo">
                <a href="/">
                    <img class="img img-responsive" src="/assets/logo.png" alt="logo">
                </a>
            </div>
            <div class="nav-links">
                <a href="/components/Avatar/avatar.html" class="text-primary text-bold"><i
                        class="fas fa-file"></i><span>Docs</span></a>
                <a href="https://github.com/vinc3nati/shinobi-UI" target="_blank" class="text-primary text-bold">
                    <button class="btn outline-primary">
                        <i class="fab fa-github"></i> GitHub
                    </button>
                </a>
            </div>
        </div>
    </nav>
    <div class="doc-container">
        <aside class="sidebar">
            <div class="list">
                <div class="list-title text-bold">Components</div>
                <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
                <li><a href="/components/Alert/alert.html">Alert</a></li>
                <li><a href="/components/Badge/badge.html">Badge</a></li>
                <li><a href="/components/Button/button.html">Button</a></li>
                <li><a href="/components/Card/card.html">Card</a></li>
                <li><a href="/components/Grid/">Grid</a></li>
                <li><a href="/components/Image/image.html">Image</a></li>
                <li><a href="/components/Input/input.html">Input</a></li>
                <li><a href="/components/List/list.html">List</a></li>
                <li><a href="/components/Modal/modal.html">Modal</a></li>
                <li><a href="/components/Navbar/navbar.html">Navbar</a></li>
                <li class="text-primary text-bold"><a href="#">Rating</a></li>
                <li><a href="/components/Typography/typography.html">Typography</a></li>
                <li><a href="/components/Toast/toast.html">Toast</a></li>
            </div>
        </aside>
        <main class="doc-content">
            <header class="content-title">
                Rating
            </header>
            <div class="content-subtitle">
                Ratings plays vital role while collecting user feedbacks. They give more clarity on how much the user
                likes the product/service.
            </div>
            <div class="divider"></div>

            <!-- Rating -->
            <div class="content-head">
                Star Rating
            </div>
            <div class="content-subtitle">
                Star rating contains a <span class="note">form</span> with class <code
                    class="text-bold">submit-review</code> and <code class="text-bold">rating</code> on the container
            </div>
            <div class="output">
                <form class="submit-review text-center">
                    <div class="rating">
                        <label>
                            <input class="rating-input" type="checkbox">
                            <i class="fa-solid fa-star rating-icon"></i>
                        </label>
                        <label>
                            <input class="rating-input" type="checkbox">
                            <i class="fa-solid fa-star rating-icon"></i>
                        </label>
                        <label>
                            <input class="rating-input" type="checkbox">
                            <i class="fa-solid fa-star rating-icon"></i>
                        </label>
                        <label>
                            <input class="rating-input" type="checkbox">
                            <i class="fa-solid fa-star rating-icon"></i>
                        </label>
                        <label>
                            <input class="rating-input" type="checkbox">
                            <i class="fa-solid fa-star rating-icon"></i>
                        </label>
                    </div>
                    <button type="submit" class="btn primary">submit</button>
                    <div class="show-review text-center"></div>
                </form>
            </div>

            <div class="code">
                <pre>
                    <code class="html">
  /* Using the 'submit-review class on form along with 'rating' on 'container' */ 

    &lt;form class="submit-review text-center"&gt;
        &lt;div class="rating"&gt;
            &lt;label&gt;
               &lt;input class="rating-input" type="checkbox"&gt;
               &lt;i class="fa-solid fa-star rating-icon">&lt;/i&gt;
            &lt;/label&gt;
            &lt;label&gt;
               &lt;input class="rating-input" type="checkbox"&gt;
               &lt;i class="fa-solid fa-star rating-icon"&gt;&lt;/i&gt;
            &lt;/label&gt;
            &lt;label&gt;
               &lt;input class="rating-input" type="checkbox"&gt;
               &lt;i class="fa-solid fa-star rating-icon"&gt;&lt;/i&gt;
            &lt;/label&gt;
            &lt;label&gt;
               &lt;input class="rating-input" type="checkbox"&gt;
               &lt;i class="fa-solid fa-star rating-icon"&gt;&lt;/i&gt;
            &lt;/label&gt;
            &lt;label&gt;
               &lt;input class="rating-input" type="checkbox"&gt;
               &lt;i class="fa-solid fa-star rating-icon"&gt;&lt;/i&gt;
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;button type="submit" class="btn primary"&gt;submit&lt;/button&gt;
        &lt;div class="show-review text-center"&gt;&lt;/div&gt;
    &lt;/form&gt;
                    </code></pre>
            </div>
            <div class="divider"></div>


            <footer class="doc-footer">
                <div class="prev-link">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path>
                    </svg>
                    <a href="../Navbar/navbar.html">Navbar</a>
                </div>
                <div class="next-link">
                    <a href="../Typography/typography.html">Typography</a>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
                    </svg>
                </div>
            </footer>
        </main>
    </div>
    <section id="footer">
        <header>Made with <i class="fas fa-heart text-secondary"></i> by <span class="text-secondary">Vinit Kanse</span>
        </header>
        <div class="social-links">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github"></i>
        </div>
        <span class="copyright text-light">&copy; 2022 - 2023 <span class="text-primary text-bold">Shinobi
                UI</span></span>
    </section>
    <button title="Top" class="btn floating-btn primary" data-top>
        <i class="fas fa-chevron-up"></i>
    </button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>