.badge {
  position: relative;
  width: max-content;
}
.badge > div {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  width: 1.15rem;
  height: 1.15rem;
  background-color: var(--color-primary);
  border: 2px solid #fff;
  border-radius: 50%;
}

.badge > .square + div {
  right: 0.8rem;
  bottom: 0;
}

.badge .online {
  background-color: var(--color-success);
}
.badge .offline {
  background-color: var(--color-grey-dark);
}
.badge .dnd {
  background-color: var(--color-warning);
}
.badge-icon {
  position: relative;
  font-size: 2rem;
}
.badge-icon ~ .number {
  position: absolute;
  top: -0.8rem;
  right: -1rem;
  width: 1.8rem;
  height: 1.8rem;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 0.8rem;
  border-radius: var(--border-rounded);
}
.badge-icon ~ .number.primary {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
}
.badge-icon ~ .number.secondary {
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
}
.badge-icon ~ .number.tertiary {
  color: var(--color-primary);
  background-color: var(--color-tertiary);
}
