<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/component.css">
    <script src="/index.js" defer></script>
    <title>Modal</title>
</head>

<body>

    <button class="btn primary">Modal</button>

    <!-- Normal Header -->
    <!-- <div class="modal-container">
        <div class="modal-content">
            <button class="modal-close"></button>
            <div class="modal-text text-center">
                <div class="h4 text-primary">Kakashi Hatake</div>
                <div class="text-light">
                    Kakashi Hatake is a fictional character in the Naruto manga and anime series created by Masashi
                    Kishimoto. In the story, Kakashi is the teacher of Team 7, consisting of the series' primary
                    characters, Naruto Uzumaki, Sasuke Uchiha, and Sakura Haruno
                </div>
            </div>
            <div class="cta-container">
                <div class="btn outline">Go back</div>
                <div class="btn primary">Get now</div>
            </div>
        </div>
    </div> -->
    <!-- Modal with header -->
    <div class="modal-container">
        <div class="modal-content with-header">
            <div class="modal-header">
                <div class="h4 text-primary">Kakashi Hatake</div>
                <button class="modal-close"></button>
            </div>
            <div class="modal-text text-justify">

                <div class="text-light">
                    Kakashi Hatake is a fictional character in the Naruto manga and anime series created by Masashi
                    Kishimoto. In the story, Kakashi is the teacher of Team 7, consisting of the series' primary
                    characters, Naruto Uzumaki, Sasuke Uchiha, and Sakura Haruno.
                </div>
            </div>
            <div class="cta-container">
                <div class="btn outline">Go back</div>
                <div class="btn primary">Get now</div>
            </div>
        </div>
    </div>
</body>

</html>